* {
  font-family: "Montserrat", sans-serif;
  --black: #1C1D22;
  --hover-black: #08090a;
  --white: #FFFFFF;
  --background: #2A2B2F;
  --light-gray: #B0B0B0;
  --deep-blue: #1A5276;
  --hover-deep-blue: #133d57;
  --green: #28A745;
  --red: #DC3545;
  --blue: #007BFF;
  --hover-green: #1b6e2e;
  --hover-red: #9b2430;
  --hover-blue: #015ec2;
}

.header {
  background-color: var(--black);
  display: flex;
  align-items: center;
  height: 5.5vw;
  padding: 1% 4%;
}

.header-img-logo {
  width: 10.76vw;
}

.header-navbar {
  width: 100%;
}

.header-list-links {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 5%;
}

.header-navbar-link-item {
  display: flex;
}

.area-link {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
}

/* MEDIA QUERIES */

/* Notebook */
@media screen and (min-width: 1024px) and (max-width: 1365px) {

  .area-link {
    font-size: 16px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {

  .area-link {
    font-size: 12px;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .header-img-logo {
    width: 14vw;
  }

  .area-link {
    font-size: 8px;
  }

  .header {
    height: 8vw;
  }
}