#index-body {
  background-color: var(--background);
}

#index-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#index-input {
  width: 92.5%;
  margin: 20px 0;
  padding: 1%;
  border-radius: 5px;
  border: 1px solid var(--light-gray);
  background-color: var(--background);
  color: var(--white);
}

#index-input::placeholder {
  color: var(--light-gray);
}

#index-table {
  width: 92.5%;
  border-radius: 5px;
  border: 1px solid var(--light-gray);
}

#index-table th,
#index-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#index-table th {
  background-color: var(--deep-blue);
}

#index-table tbody tr:hover {
  background-color: #f5f5f5;
}
