#index-body {
  background-color: var(--background);
}

#index-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#index-input {
  width: 90%;
  margin: 20px 0;
  padding: 1%;
  border-radius: 5px;
  border: 1px solid var(--light-gray);
  background-color: var(--background);
  color: var(--white);
}

#index-input::placeholder {
  color: var(--light-gray);
}


#index-table {
  width: 92.5%;
  border-radius: 5px;
  border: 1px solid var(--white);
  background-color: var(--black);
  color: var(--white);
}

#index-table th,
#index-table td {
  padding: 8px;
  text-align: left;
  text-align: center;
  border-bottom: 1px solid var(--white);
}

#index-table th {
  background-color: var(--deep-blue);
  padding: 30px 0;
}

#index-table td {
  max-width: 150px;
  word-wrap: break-word;
  padding: 20px 0;
}

#index-table tbody tr:hover {
  background-color: var(--hover-black);
}

.edit-button {
  background-color: var(--green);
}

.edit-button:hover {
  background-color: var(--hover-green);
}

.deactivate-button {
  background-color: var(--red);
}

.deactivate-button:hover {
  background-color: var(--hover-red);
}

.reactivate-button {
  background-color: var(--blue);
}

.reactivate-button:hover {
  background-color: var(--hover-blue);
}

button {
  border: none;
  border-radius: 2px;
  color: var(--white);
  width: 82px;
  height: 26px;
}

button:hover {
  cursor: pointer;
}