#index-body {
  background-color: var(--background);
}

#index-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#index-input {
  width: 90%;
  margin: 20px 0;
  padding: 1%;
  border-radius: 5px;
  border: 1px solid var(--light-gray);
  background-color: var(--background);
  color: var(--white);
}

#index-input::placeholder {
  color: var(--light-gray);
}